.react-app-settings-wrap {
    display: flex;
    height: 100%;

    .react-settings-nav {
        width: 200px;
        padding: 20px;
        background-color: #f5f5f5;

        .nav-section {
            display: flex;
            flex-direction: column;

            .nav-tab {
                padding: 0;

                .nav-title {
                    a {
                        display: block;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .react-menu-content {
        flex: 1;
        padding: 20px;
        background-color: #fff;

        .react-wp-fields {
            fieldset {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}